# Object files
*.o
*.ko
*.lst

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*elf.map

# Os files
.DS_Store
Thumbs.db
thumbs.db

